<form class="form-inline">

    <div class="form-group">
        <label for="inputFirstname" >Firstname: </label>
        <input type="date" class="form-control" id="inputFirstname" ng-model="birth">
    </div>
    <br>
    <div class="form-group">
        <label for="inputLastname">Lastname : </label>
        <input type="date" class="form-control" id="inputLastname" ng-model="birth">
    </div>
    <br>
    <div class="form-group">
        <label for="inputNickname">Nickname: </label>
        <input type="date" class="form-control" id="inputNickname" ng-model="birth">
    </div>
    <br>
    <div class="form-group">
        <label for="inputBirthDate">Birth Date</label>
        <input type="date" class="form-control" id="inputBirthDate" ng-model="birth">
    </div>
    <br>
    <div class="form-group">
        <label >Email: </label>
        <input type="email" class="form-control-static" ng-model="email"/>
    </div>
    <br>
    <div class="form-group">
        <label for="inputPassword">Password: </label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password">
    </div>
    <br>
    <div class="form-group">
        <label for="inputConfirmPassword">Confirm Password: </label>
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Password" ng-model="confirmPassword">
    </div>
    <br>
    <button type="submit" class="btn btn-default">Confirm identity</button>
</form>